@font-face
{
   font-family: "Condensed-Bold";
   src: url(../fonts/Condensed-Bold.ttf) format("opentype");
}

@font-face
{
   font-family: "Condensed";
   src: url(../fonts/Condensed.otf) format("opentype");
}

@font-face
{
   font-family: "HeavyCondensed";
   src: url(../fonts/HeavyCondensed.otf) format("opentype");
}

@font-face
{
   font-family: "LightCondensed";
   src: url(../fonts/LightCondensed.otf) format("opentype");
}

.hidden {
	visibility: hidden;
}

.page {
	width: 100%;
}

.section {
	background-size: cover;
	background-color: #001e3a;
	width: auto;
	position: relative;
	overflow: auto;
}

#cover {
	background-image: url(../images/fondohome.jpg);
	background-size: auto;
	background-position: top;
	background-repeat: no-repeat;
	min-height: 1500px;
}

.inner {
	position: relative;
	width: 1000px;
	height: 100%;
	margin: auto;
	z-index: 0;
}

a {
	text-decoration: none;
}

.top_bar {
	width: 100%;
	height: 30px;
	background-color: #0A1219;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	padding: 10px 0px;
	z-index: 999999;
	opacity: 0.8;
}

.logo_tb {
	margin-left: 90px;
	float: left;
	height: 120%;
}

.logo_tb img {
	height: 100%;
}

.item_main {
	font-family: 'Condensed', sans-serif;
	font-size: 16px;
	font-weight: 500;
	float: right;
	margin: 0px 30px;
	line-height: 33px;
}

.item_main a {
	color: #CC911E;
}

.item_main:hover {
	border-bottom: 1px solid #CC911E!important;
}

.item_main a:hover {
	color: #CC911E!important;
}

.tiki_logo_tb:hover {
	border-bottom: 0px!important;
}

#logo_cover {
	position: absolute;
	width: 700px;
	margin: auto;
	right: 0px;
	left: 0px;
	bottom: 0px;
	top: 1100px;
}

#logo_cover img {
	width: 100%;
}

#juego_txt {
	margin-top: 60px;
	font-size: 25px;
	font-family: 'LightCondensed', sans-serif;
	line-height: 33px;
}

#nota {
	font-size: 15px;
}

#separador {
	width: 100%;
	height: 500px;
	background-image: url(../images/separador.png);
	background-color: #001e3a;
	background-size: 100% 100%;
	padding-top: 30px;
}

#video-back {
	width: 650px;
	padding: 50px;
	margin: auto;
	background-image: url(../images/fondo-video.png);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#video-cont {
	width: 100%;
	height: 375px;
}

#video-cont img {
	width: 100%;
	height: 100%;
}

#text_juego {
	width: 490px;
	height: 55px;
	margin: 20px auto;
}

#tickets {
	padding-top: 100px;
	background-attachment: fixed;
	background-image: url(../images/fondo-vs.png);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.title-section {
	width: 700px;
	margin: auto;;
}

.title-section p {
	text-align: center;
	font-size: 60px;
	color: #fff;
	font-family: 'Condensed-Bold', sans-serif;
	letter-spacing: 5px;
}

.line-title {
	width: 220px;
	border: 5px solid #1a75ae;
	position: relative;
	left: 305px; 
}

#subtitle-section {
	width: 700px;
	text-align: center;
	font-size: 30px;
	letter-spacing: 3px;
	color: #fff;
	font-family: 'Condensed', sans-serif;
	margin: 90px auto 30px auto;
}

#txt-tickets {
	width: 700px;
	font-family: 'LightCondensed', sans-serif;
	letter-spacing: 3px;
	color: #fff;
	margin: 30px auto;
	text-align: center;
	font-size: 20px;
}

#content-form {
	width: 900px;
	margin: auto;
}

.content-input {
	width: 47%;
	float: left;
}

.content-input:first-child {
	margin-right: 6%;
}

.item-input label {
	float: right;
	margin-right: 8px;
	font-size: 25px;
	color: #fff;
	font-family: 'Condensed', sans-serif;
	line-height: 39px;
}

.item-input input {
	float: right;
	font-size: 25px;
	background-color: #922328;
	color: #fff;
	padding: 3px;
	border: 1px solid #fff;
}

.item-input {
	margin-bottom: 8px;
	overflow: auto;
}

.separador {
    width: 100%;
    clear: both;
}

#content-term {
	width: 370px;
	margin: 40px auto 0px auto;
}

#content-term label {
	font-family: 'Condensed', sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
	color: #fff;
}

#cbox {
	width: 20px;
	height: 20px;
}

#table-price {
	width: 580px;
	margin: 60px auto 0px auto;
}

#table-price img {
	width: 100%;
}

.button {
	width: 171px;
	margin: 40px auto 0px auto;
	background-color: #DEA937;
	color: #fff;
	font-family: 'Condensed', sans-serif;
	letter-spacing: 10px;
	line-height: 30px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}

#prensa {
	width: 700px;
	margin: 70px auto;
}

#txt-prensa {
	font-family: 'Condensed', sans-serif;
	font-size: 30px;
	letter-spacing: 3px;
	color: #fff;
	text-align: center;
}

#button-prensa {
	background-color: #922328;
	letter-spacing: 2px;
}

#perfiles {
	margin-top: 200px;
}

#profile-cont {
	overflow: auto;
	width: 697px;
	height: 240px;
	margin: 90px auto;
}

.pic-profile {
	width: 100%;
	height: 100%;
}

.item-profile {
	width: 155px;
	height: 208px;
	margin-right: 20px;
	float: left;
	cursor: pointer;
}

.item-profile:hover {
	border: 8px solid #1a75ae;
}

.item-profile:last-child {
	margin-right: 0px;
}

#footer-page {
	width: 100%;
	height: 60px;
	background-color: #001e3a;
	padding: 20px 0px;
}

#content-item-footer {
	width: 700px;
	margin: auto;
}

.item-footer {
	float: right;
	margin-left: 50px;
}

.text {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	line-height: 25px;
}

.mean-nav ul {
	padding-top: 50px;
}

.main {
	display: none;
}

.space {
	text-decoration: none;
	font-family: 'Condensed', sans-serif;
	font-size: 14px;
	color: #fff;
	letter-spacing: 2pt;
}

.index_main {
	background-image: url(../images/icon-logo.png);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 20px;
	right: 0px;
	left: 0px;
	margin: 0px auto;
	width: 40px;
	height: 40px;
}

.main_mobile {
	margin: 10px 20px;
	cursor: pointer;
	list-style: none;
}

#myFlipper {
	width: 900px;
	margin: 150px auto;
	margin-bottom: 0px;
}

/* Customize your modal window here, you can add background image too */
#boxes #dialog {
    width:300px;
    height:185px;
}

#ok_btn {
    clear: both;
    background-color: #f6bb39;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    margin: auto;
        margin-top: auto;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    opacity: 1;
}

.error {
	color: #ea3c3c;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

@media screen and (max-width: 930px) {
	#logo_cover, #myFlipper {
		width: 90%;
	}
}

@media screen and (max-width: 767px) {
	#cover {
		margin-top: 0px;
	}

	.top_bar {
		display: none;
	}

	.main {
	    display: block;
	    position: absolute;
	    top: 15px;
	    left: 20px;
	}
}

@media screen and (max-width: 360px) {
	#cover {
		min-height: 1300px;
	}
}





























